@inherits LayoutComponentBase
@using Trading.Analytics.Shared
@inject HttpClient Http

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <h1>Profits: @totalRubLabel / @totalUsdLabel</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    private string totalRubLabel;
    private string totalUsdLabel;

    protected override async Task OnInitializedAsync()
    {
        var stocksEnvelope = await Http.GetJsonAsync<List<Asset>>("api/Assets");
        var rubProfit = stocksEnvelope.Where(asset => asset.Сurrency.Equals("Rub")).Select(asset => asset.Profit).Sum();
        totalRubLabel = $"RUB {rubProfit}";
        var usdProfit = stocksEnvelope.Where(asset => asset.Сurrency.Equals("Usd")).Select(asset => asset.Profit).Sum();
        totalUsdLabel = $"USD {usdProfit}";
    }

}