@inherits LayoutComponentBase
@inject HttpClient Http

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <h1>Profit: @totalRubLabel / @totalUsdLabel</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    private string totalRubLabel;
    private string totalUsdLabel;

    protected override async Task OnInitializedAsync()
    {
        
    }

}