@page "/"
@using Trading.Analytics.Shared
@inject HttpClient Http

<h1>Активы</h1>

<div>
    <SfChart Title="RUB">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Cost">
        </ChartPrimaryYAxis>
        <ChartLegendSettings Visible="true"> </ChartLegendSettings>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries Type="ChartSeriesType.Column" DataSource="@assetsRub"
                         XName="Ticker" YName="Balance" Name="RUB Assets">
                <ChartMarker>
                    <ChartDataLabel Visible="true"> </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Column" DataSource="@assetsRub"
                         XName="Ticker" YName="Profit" Name="Profit">
                <ChartMarker>
                    <ChartDataLabel Visible="true"> </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>

    <SfChart Title="USD">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Cost">
        </ChartPrimaryYAxis>
        <ChartLegendSettings Visible="true"> </ChartLegendSettings>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries Type="ChartSeriesType.Column" DataSource="@assetsUsd"
                         XName="Ticker" YName="Balance" Name="USD Assets">
                <ChartMarker>
                    <ChartDataLabel Visible="true"> </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Column" DataSource="@assetsUsd"
                         XName="Ticker" YName="Profit" Name="Profit">
                <ChartMarker>
                    <ChartDataLabel Visible="true"> </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code {

    private IEnumerable<Asset> assetsRub;
    private IEnumerable<Asset> assetsUsd;

    protected override async Task OnInitializedAsync()
    {
        var assets = await Http.GetJsonAsync<IEnumerable<Asset>>("api/Positions");
        assetsRub = assets.Where(asset => asset.Сurrency.Equals("RUB")).OrderBy(stock => stock.Profit).ToList();
        assetsUsd = assets.Where(asset => asset.Сurrency.Equals("USD")).OrderBy(stock => stock.Profit).ToList();
    }

}